<script id="must-tr-plan" type="text/html" charset="utf-8">
  <tr id="plan-{{id}}">
    <td>
      <a href="/delete_plan?id={{id}}" class="delete-plan">
        <i class="icon-trash"></i>
      </a>
      &nbsp;
      <a href="/update_plan?id={{id}}" class="update-plan">
        <i class="icon-pencil"></i>
      </a>
    </td>
    <td>{{created_at}}</td>
    <td>{{content}}</td>
  </tr>
</script>
