<% provide(:title, 'Create a Plan') %>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <form class="well form-inline">
        <input type="text" id="plan-content" name="content" class="span5" placeholder="today I am going to do...">
        <button type="submit" class="btn pull-right">Plan</button>
      </form>
    </div>
  </div>
</div>
