<% provide(:title, 'Sign Up') %>

<h1>Sign Up</h1>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPasswordConfirmation">PasswordConfirmation</label>
          <div class="controls">
            <input type="password" id="inputPasswordConfirmation" placeholder="PasswordConfirmation">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Create a user</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
